/* Header */
.site-header{

}
.header-head{
  width: 100%;
  border-bottom: 1px solid  #ccc;
  padding: 40px 0;
}

.site-logo{
  float: left;
}
.social{
  float: right;
}

/*Navigation Menus*/

.site-nav ul{



}

.site-nav ul:before, .site-nav ul:after{ content:""; display: table;}
.site-nav ul:after{ clear: both;}
.site-nav ul {*zoom: 1;}

.site-nav ul li{
  list-style:none;
  float: left;
}

/*Site Header Menus*/

.site-header nav ul li{
    margin: 0 auto;
}

.site-header nav ul li a:link,
.site-header nav ul li a:visited{
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  display: block;
  padding: 30px 18px;
  color: #666262;
  text-transform: uppercase;
}
.site-header nav ul li a:hover{
  opacity: 0.6;
}

.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited,
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited{
  color: #58c93a;
}